.password-validation {
  display: flex;
  &__container {
    display: flex;
    margin: 5px;
    align-items: center;
    color: grey;
    &--focused {
      color: red;
    }
  }
  &__symbol {
    height: 15px;
    width: 15px;
    background: url(../assets/exclamation-triangle-solid.svg) no-repeat center;
    margin: 1em;
    &--passed {
      color: rgb(134, 185, 132);
    }
    &--good {
      background: url(../assets/check-solid.svg) no-repeat center;
    }
  }
}
