@font-face {
  font-family: "Walsheim";
  src: url("./font/GT-Walsheim-Pro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Walsheim";
  src: url("./font/GT-Walsheim-Pro-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Walsheim";
  src: url("./font/GT-Walsheim-Pro-Medium.woff") format("woff");
}

.sign-up-page {
  display: flex;
  height: 100vh;
  font-family: Walsheim;
  margin: auto;
  box-sizing: border-box;
  &__left {
    width: 33%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    height: 100%;
  }
  &__right {
    width: 66%;
    background-color: white;
    display: flex;
    align-items: center;
    &--container {
      width: 75%;
      height: 75%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &--submit {
      background-color: rgb(88, 100, 169);
      cursor: pointer;
      border-radius: 9px;
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      width: 100%;
      color: white;
      font-weight: bold;
      margin: 2em 0 2em 0;
      &:disabled {
        background-color: rgb(232, 233, 235);
        cursor: not-allowed;
      }
    }

    &--row {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &--name {
        display: flex;
        flex-direction: row;
      }
      .row-container {
        &--name {
          width: 48%;
          display: flex;
          flex-direction: column;
        }
      }
    }
    &--divider {
      width: 100%;
      border-bottom: 1px solid lightgray;
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }
  &__input {
    height: 3em;
    background-color: rgb(240, 241, 242);
    border-radius: 10px;
    padding: 3px;
    padding-left: 10px;
    border: none;
    margin: 10px 0; // add top and bottom margin
    &:focus {
      border: 1px solid rgb(104, 125, 236);
      background-color: white;
    }
  }
}

.logo{
  width: 750px;
  height: 264px;
  background: url('../assets/Webp.net-resizeimage (1).png') no-repeat center;
  margin-bottom: 16px;
  //ideally upload all images on a CDN for performance
}
